/* --------------------------------------
   Layout
   -------------------------------------- */
    footer {
        background: #333;
        color: #eee;
        font-size: 11px;
        padding: 20px;
    }
/* --------------------------------------
   Typography
   -------------------------------------- */

/* --------------------------------------
   Navbar
   -------------------------------------- */

/* --------------------------------------
   Carousel
   -------------------------------------- */
#myCarousel {
    margin-top: 60px;
}
/* --------------------------------------
   Global Styles
   -------------------------------------- */
.well {
    margin: 20px 0;
}
.well .page-header {
    margin-top: 0;
}
.thumbnails {
    margin: 20px 0;
}