footer {
    background: #333;
    color: #eee;
    font-size: 11px;
    padding: 20px;
}
.well {
    margin: 20px 0;
}
.well .page-header {
    margin-top: 0;
}
.thumbnails {
    margin: 20px 0;
}

.category_button {
    background-position: left;
    background-repeat: no-repeat;
    margin: 10px;
    padding-left: 50px;
    background-color: #d6f9ef;
}
.category_button:hover {
    background-color: #EAFCF7;
    box-shadow: 0 0 5px #000;
}
.editable-text:hover {
    background-color: #FFFFFF;
    cursor: pointer;
    cursor: hand;
    box-shadow: 0 0 5px #000;
}