/vendor/
/composer.lock
/.idea/
/app/cache/
/!app/cache/.gitkeep
/app/logs/
/!app/logs/.gitkeep
/app/config/parameters.yml
/app/bootstrap.php.cache
/app/phpunit.xml
/phpunit.xml
/web/files/
*~
/web/bundles
