{% extends 'FqBundle::base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="well text-center">
                    <h1>Пожалуйста войдите</h1>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#" data-role="facebook-login" data-target="{{ url("dashboard") }}" class="btn btn-lg btn-social btn-facebook">
                                <i class="fa fa-facebook"></i>Вход через Facebook
                            </a>
                        </li>
                        {#<li>#}
                            {#<a class="btn btn-lg btn-social btn-google-plus" style="margin-top: 5px">#}
                                {#<i class="fa fa-google-plus"></i>Вход через Google#}
                            {#</a>#}
                        {#</li>#}
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
