{% extends 'FqBundle::base.html.twig' %}

{% block body %}
    <form action="{{ path('save_category') }}" method="POST">
        {{ form_errors(form) }}

        {{ form_row(form.name) }}

        {{ form_rest(form) }}
    </form>
{% endblock %}
